.App {
  text-align: center;
  margin: 0 auto;
}


// .App {
//   padding: 20px 20px 20px 100px;
//   background-color:  #f2f2f2;
//   text-align: center;
//   min-width: 100%;
//   min-height: 100vh;
//   margin: 0;
//   padding: 0;
//   border: 0;
//   font-size: 100%;
//   font: inherit;
//   vertical-align: baseline;
//   box-sizing: inherit;
// }

// .Auth {
//   width: 100%;
//   height: 100vh;
//   color: black;
  /* background: linear-gradient(99deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
  position: absolute;
  top: 0;
  left: 0;
  /* display:flex; */
  /* text-align: center;  */
  /* justify-content: center;
  color: white;
  flex-direction: row; */ 
// }

/* .auth_container {
  border-radius: 8px;
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25),
              0 10px 10px 0 rgba(0,0,0,.26);
  background-image: linear-gradient(97deg,#ff7a6e,#ffd670);
  height: 55vh;
  width: 35vw;
  margin: 200px auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; 
  border-color: 10px dimgray; 
} */

// .auth_title{
//   height: 15vh;
//   width: 25vh;
//   font-size: 90px;
//   font-weight: 700;
//   font-style: initial;
//   vertical-align: baseline;
//   box-sizing: initial;
//   padding-bottom: 30px;
//   border-bottom: 30px;
//   padding-top: 20px;
//   margin: 0px;
  
// }

// .auth_input_box{
//   display: flex;
//   justify-content: space-around;
//   width: 65%;
//   height: 6%;
//   font-size: 100%;
//   font: inherit;
//   vertical-align: baseline;
//   box-sizing: inherit;
//   padding-bottom: 10px;
//   margin-bottom:  20px;
// }

// p{
//   display: block;
//   margin-block-start: 1em;
//   margin-block-end: 1em;
//   margin-inline-start: 0px;
//   scroll-margin-inline-end: 0px;
//   color: black;
// }

// .button_container{
//   display: flex;
//   justify-content: space-around;
//   width: 55%;
//   margin: 0;
//   padding: 0;
//   border: 0;
//   font-size: 100%;
//   font: inherit;
//   vertical-align: baseline;

// }